doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="index.css")
  title Document
body
  .form-section.mt5
   .container
    .row
      .col.col-8.mx-2
        .card
          .card-body
            .card-title Add new task
            form(name="addTask")
              input(
                type="text"
                name="title"
                id="title"
                class="form-control"
                placeholder="Task title")
              input(
                type="text"
                name="body"
                id="body"
                class="form-contol mt-3"
                placeholder="Task body")
              button(type="submit" class="btn btn-primary mt-4") Add Task
  .form-section.tasks-list-sections.mt-5
    .container
      ul(class="list-group")
  .container
    .dev
      p
        | Задача
        | Существует базовый лист с формой с двумя полями title и body
        | список задач должен выводится ниже под формой.
        | задача реализовать функционал на js:
        | Пользователь чтото вводит, нажимает добавить задачу
        | и задача добавляется,  также можно удалять.
      p
        | Страница изначально стилизовалась бутстрапом
        | в рамках данного урока мы его не касаемся
        | (так как надо его изучить для этого)
      



script(src="./index.js")